body{
    background-color: rgb(194, 104, 119);
    text-align: center;
}
h1{
    text-align: center;
    color: white;
}
h2{
    text-align: center;
    color: white;
}
h3{
    text-align: center;
    color: white;
}
h4{
    text-align: center;
    color: white;
    font-size: xx-large;
}
body p{
    display: block;
    text-align: center;
    color: black;
    font: 14px/21px Arial, Helvetica, sans-serif;
}
img {
    width: 800px;
    width: 50%;
    display: block;
    margin: 0 auto;
    }
