:root {
  --primary-color: #dd8585;
  --secondary-color: #7baacc;
  --accent-color-1: #ef8b6c;
  --accent-color-2: #381d2a;
}

body {
  font-family: 'Merriweather', serif;
  background-color: var(--primary-color);
  margin: 0;
}

header {
  background: var(--accent-color-2);
  color: white;
  padding: 30px 0;
  text-align: center;
  border-bottom: var(--accent-color-1) 3px solid;
}

h1,
h2 {
  font-family: 'Caveat', cursive;
  font-weight: 600;
  font-size: 36px;
}

h2 {
  text-align: center;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-right: auto;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
  color: var(--accent-color-1);
}

.button-boxes {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.circle-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  margin: 20px;
  background-color: var(--accent-color-1);
  border-radius: 50%;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.circle-link:hover {
  background-color: var(--accent-color-2);
}

.circle-text {
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.circle-button-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-button {
  background-color: var(--accent-color-1);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.circle-button:hover {
  background-color: var(--accent-color-);
}

.photos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 50px 0;
}

.photos img {
  width: calc(50% - 30px);
  height: auto;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin: 15px;
}

@media (min-width: 768px) {
  .photos img {
    width: calc(25% - 30px);
  }
}

main p {
  text-align: center;
  margin: 0 0 30px;
}

footer {
  background-color: var(--accent-color-2);
  color: white;
  padding: 20px 0;
  text-align: center;
  position: relative;
}

#homepage {
  text-decoration: none;
  color: white;
  font-weight: bold;
  display: inline-block;
  text-align: unset;
  
}
